{% extends "auctions/base.html" %}
{% block content  %}
<div class="row">
    <div class="col-lg-6 col-sm-12 col-xs-12 ">
        <div class="centering allignment ">
             <div class="form-group littleBox">
            <h1 style="color:black;">Micki</h1>
                <img src="/static/auctions/Images/Micki1.jpg" alt="Micki" height="200" width="200" style=" border-radius: 100px;">
                    <div class="littleSpace">
                        <p>Micki - Systemudvikler og partner</p>
                        <p>Adresse: Borgmestervangen 31, 8. 1. 2200 København N</p>
                        <p>Telefonnummer: +45 22 15 66 17</p>
                        <p>E-mail: Mick0403@stud.kea.dk</p>
                        <p>Kontaktbar alle hverdage fra 08:00 - 16:00</p>

                    </div>
                 </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="centering allignment">
            <div class="form-group littleBox">
            <h1 style="color:black;">Mikkel</h1>
                <img src="/static/auctions/Images/Mikkel.jpg" alt="Mikkel" height="200" width="200" style=" border-radius: 100px;">
                    <div class="littleSpace">
                        <p>Mikkel - Systemudvikler og partner</p>
                        <p>Adresse: Store Regnegade 24, 2. 1110 København K</p>
                        <p>Telefonnummer: +45 51 55 70 62</p>
                        <p>E-mail: Mikk5394@stud.kea.dk</p>
                        <p>Kontaktbar alle hverdage fra 08:00 - 16:00</p>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}