{% extends "auctions/base.html" %}
{% block content  %}
            <div class="content-section2"  style=" margin-right: 36%; margin-left: 36%;">
            <h2 style="color: white; margin-bottom: 2%;" class="centering2 allignment">Total auctions: {{total_auctions}}</h2>

                <form method='GET' action="">
                <div class="centering2 allignment">
                     <input type="text" placeholder="Search">
                     <input type="submit"  value="Search"/>
                </div>
                </form>
            </div>
                <div class="centering2 allignment">
                {% for auction in auctions %}
                    <div class="content-section2" >
                    <h4><a href="https://www.wowhead.com/item={{ auction.item }}">item</a> x{{ auction.quantity }}</h4>
                    <h4>Current bid: {% widthratio auction.bid 10000 auction.quantity %}<font color="yellow">G</font></h4>
                    <h4>Buyout: {% widthratio auction.buyout 10000 auction.quantity %}<font color="yellow">G</font></h4>
                    <!-- <h4>Quantity: {{ auction.quantity }}</h4> -->
                    <h4>Time left: {{ auction.time_left }}</h4>
                    </div>
                {% endfor %}

                      {% if auctions.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ auctions.previous_page_number }}">Previous</a>
                      {% endif %}

                      {% for num in auctions.paginator.page_range %}
                        {% if auctions.number == num %}
                          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > auctions.number|add:'-3' and num < auctions.number|add:'3' %}
                          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                      {% endfor %}

                      {% if auctions.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ auctions.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ auctions.paginator.num_pages }}">Last</a>
                     {% endif %}
                </div>

{% endblock %}
