{% extends "auctions/base.html" %}
{% load crispy_forms_tags %}
{% block content  %}
    <style>
    .centering {
	position: relative !important;
	}
    </style>
    <div class="content-section centering" style="margin-top: 8% !important;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group myText" style="color: white;">
                <legend class="border-bottom mb-4">Join</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="from-group" style="margin-bottom: 5px;">
                <button class="download2" type="submit">Sign Up</button>
            </div>
        </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In </a>
                </small>
            </div>
    </div>
{% endblock %}